<p id="notice"><%= notice %></p>
<p class="fs-3">

  <%= @post.title %>
</p>
<p class="fs-3">

  <%= @post.content %>
</p>
<% if current_user && current_user.is_admin %>
<%= link_to 'Редактировать', edit_post_path(@post), class: "btn btn-outline-primary" %>
<%end %>
<%= link_to 'Назад', posts_path, class: "btn btn-outline-primary" %>
<h3>Комментарии</h3>
<% @post.comments.each do |comment| %>
    <p><strong><%= comment.username %></strong>: <%= comment.body %></p>
<% end %>
<h3>Оставить комментарий</h3>
<%= form_for([@post, @post.comments.build]) do |form| %>
  <div class="field">
    <%= form.label "Пользователь" %>
    <%= form.text_field(:username, {:class => 'form-control'}) %>
  </div>
  <div class="field">
    <%= form.label "Текст" %>
    <%= form.text_area(:body, {:class => 'form-control'}) %>
  </div>
  <div class="actions">
    <%= form.submit("Сохранить",{:class => 'btn btn-outline-success'}) %>
  </div>
<% end %>